# Assignment 1

1. Write a Python Program to accept the details of a student like name,rollnumber and mark and display it.

Sample input: Enter the name: Anisha 
Enter the roll number: 21
Enter the mark: 78

Sample output: 
Name: Anisha Roll No: 21 Mark: 78

In [2]:
Name = input("Enter the name:")
Roll_Num = int(input("Enter the Roll number:"))
Mark = int(input("Enter the mark:"))
print("Name:", Name, "Roll Number:", Roll_Num, "Mark:", Mark )

Enter the name: Afrin
Enter the Roll number: 2
Enter the mark: 98

Name: Afrin Roll Number: 2 Mark: 98

2. Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41 Sample output: Temperature in Celsius =5

In [4]:
Temp_C = float(input("Enter the temperature in Celsius:"))
Temp_F = (Temp_C * 1.8) + 32 
print("Temperature in Farenheit is:", Temp_F)

Enter the temperature in Celsius: 32.5

Temperature in Farenheit is: 90.5

 3. Write a Python program to accept two numbers from the user and display its product.

In [5]:
a = float(input("Enter first number:"))
b = float(input("Enter second number:"))
print("Product of two numbers is:",a*b)

Enter first number: 2.5
Enter second number: 2

Product of two numbers is: 5.0


4. 
Write a Python program to accept a string “Learn Python by Developing a Website” and display the string like “Learn ** Python ** by Developing a ** Website **”

In [9]:
string1 = "Learn Python by Developing a Website"
string2 = string1[0:6]+"**"+string1[6:12]+"**"+string1[12:29]+"**"+string1[29:36]+"**"
print(string2)

Learn **Python** by Developing a **Website**

5. Write a Python program to accept the radius of a circle and display its area.

In [12]:
import math

radius = float(input("Enter the radius of the circle:"))
area = math.pi*radius**2
print("Area of the circle is: ", area)

Enter the radius of the circle: 7.5

Area of the circle is:  176.71458676442586

6. Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [3]:
list1 = [24,36,48,52,67,78,81,99]

num = int(input("Enter the number to be inserted: "))
post = int(input("Enter the position to insert number: "))

#inserting element
list1.insert(post,num)

print("\nList after performing Insert Operation: ")
print(list1)

Enter the number to be inserted:  100
Enter the position to insert number:  4

List after performing Insert Operation:
[24, 36, 48, 52, 100, 67, 78, 81, 99]

7. Write a program to rename a key city to a location in the following dictionary. sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [14]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
print("Dictionary Elements:\n", sample_dict)

sample_dict["location"] = sample_dict.pop("city")
print("Dictionary after changing key value:\n", sample_dict)

Dictionary Elements:
 {'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
Dictionary after changing key value:
 {'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

8. Write a Python program to change Brad’s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}
}

In [13]:
dict1 = { 'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500} }
print("Dictionary Elements:\n", dict1)

dict1["emp3"]['salary'] = 8500
print("\nDictionary after updating Salary:\n", dict1)

Dictionary Elements:
 {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}

Dictionary after updating Salary:
 {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

9. Write a program to copy elements 43 and 54 from the following tuple into a new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [10]:
tuple1 = (10, 20, 43, 54, 56, 68)
print("Tuple elements are:", tuple1)

tuple2 = tuple1[2:4]
print("\nNew tuple after copying", tuple2)

Tuple elements are: (10, 20, 43, 54, 56, 68)

New tuple after copying (43, 54)

10. Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [8]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
print("Tuple elements:", tuple1)

n = tuple1.count(50)
print("\nNumber of occurances of the item 50 are :", n)

Tuple elements: (50, 10, 60, 70, 50, 83, 567, 50, 81)

Number of occurances of the item 50 are : 3